# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?

# Swift / SwiftPM
.build/
.swiftpm/
Packages/
*.xcodeproj
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
xcuserdata/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Editors
*.swp
*.swo
*~
.vscode/
.idea/
